* {
    font-family: 'roboto';
    margin: 0;
    padding: 0;
}

.hidden {
    pointer-events: none;
    background-color: #b2b2b2;
    
}

/* menu */
#menu {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
#menu-column {
    width: 512px;
}
#menu-list {
    padding-top: 10rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#menu-list h4{
    font-size: 14px;
    font-weight: 500;
    padding: 6px;
}
#menu-buttons {
    width: 160px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px    ;
}
#menu-buttons button {
    width: 100%;
    height: 28px;
}
#menu-buttons button:hover {
    cursor:pointer;
}
#menu-difficulty {
    padding-bottom: 4px;
}

/* game */

#game {
    display: none;
}

.square {
    width: 30px;
    height: 30px;
    border: black solid 2px;
}
.row {
    display: flex;
}

.obstacle {
    background-color: black;
}

#timer {
    position: absolute;
    z-index: 99;
    width: 101px;
    height: 67px;
    background-color: rgba(255, 255, 255, 1);
}

/* game Animation */

#gameAnimation {
    width: 100%;
    height: 100vh; 
    display: none;
    background-color: transparent;
    pointer-events: none;
    position: absolute;
    opacity: 1;
}

/* game messages */

#hintPage {
    width: 100%;
    height: 100vh; 
    display: none;
    background-color: transparent;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    opacity: 3;
}

#hintPage-message {
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 3rem;
    width: 512px;
    background-color: #ddd;
    filter: drop-shadow(0px 0px 10px #000000);
    border-radius: 4px;
}
#hintPage-text {
    font-weight: 600;
    font-size: 20px;
}

/* levels */

#levels {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
}
#levels-column {
    width: 512px;
}
#levels-list {
    padding-top: 10rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#levels-buttons {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 4px;
}
#levels-buttons button {
    width: 167px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;
    border: black 1px solid;
}
#levels-buttons button:hover {
    cursor:pointer;
}
.menu-btn {
    width: 200px;
    height: 32px;
    text-align: center;
    margin-top: 16px;
    margin-left: 156px;
}

/* tutorial */

#tutorial {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
}
#tutorial-column {
    width: 512px;
}
#tutorial-list {
    padding-top: 10rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#tutorial-image {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 4px;
}
#levels-buttons button {
    width: 167px;
    height: 85px;
}

/* settings */

#settings {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
}
#settings-column {
    width: 512px;
}
#settings-list {
    padding-top: 10rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#settings-subsettings {
    width: 360px;
}
.settings-element {
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}
.settings-keybind {
    width: 360px;
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

/* credits */

#credits {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
}
#credits-column {
    width: 512px;
}
#credits-list {
    padding-top: 10rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#credits-list h3 {
    width: 32rem;
    text-align: left;
}
/* achievments */

#achievments {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
}
#achievments-column {
    width: 512px;
}
#achievments-list {
    padding-top: 10rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#achievments-list h3 {
    text-align: center;
}

.achievment {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 100px;
    border-radius: 4px;
}

.achievment-left {
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.achievment-right {
    width: 200px;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
}
.achievment-right * {
    height: 20px;
}
.achievment-right h5 {
    font-weight: 500;
}
#reset-btn {
    width: 128px;
    font-weight: 700;
    color: #fe6666;
}
